<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nhieuv2000-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5207.site4now.net:8172/MsDeploy.axd?site=nhieuv2000-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>nhieuv2000-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>nhieuv2000-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TNKQConnectionString1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-QJCKCTC;Initial Catalog=TNKQ;User ID=sa;Password=sa2012" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TNKQConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-QJCKCTC;Initial Catalog=TNKQ;User ID=sa;Password=sa2012" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TNKQConnectionString2" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5098.site4now.net;Initial Catalog=db_a7e3bc_tracnghiemkq;User ID=db_a7e3bc_tracnghiemkq_admin;Password=1234567B" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-OC46V2M;Initial Catalog=TNKQ;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TNKQConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-OC46V2M;Initial Catalog=TNKQ;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TNKQConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-9ANPKVR;Initial Catalog=TNKQ;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TNKQConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-9ANPKVR;Initial Catalog=TNKQ;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=SQL5098.site4now.net;Initial Catalog=db_a7e3bc_tracnghiemkq;User ID=db_a7e3bc_tracnghiemkq_admin;Password=1234567B" Name="Data Source=SQL5098.site4now.net;Initial Catalog=db_a7e3bc_tracnghiemkq;User Id=db_a7e3bc_tracnghiemkq_admin;Password=1234567B" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Web-20211118122911.mdf;Initial Catalog=aspnet-Web-20211118122911;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Web-20211118122911.mdf;Initial Catalog=aspnet-Web-20211118122911;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TNKQConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TNKQConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="TNKQConnectionString2-Web.config Connection String">
      <ParameterValue>Data Source=SQL5098.site4now.net;Initial Catalog=db_a7e3bc_tracnghiemkq;User ID=db_a7e3bc_tracnghiemkq_admin;Password=1234567B</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5098.site4now.net;Initial Catalog=db_a7e3bc_tracnghiemkq;User Id=db_a7e3bc_tracnghiemkq_admin;Password=1234567B</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>